.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;

  max-height: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 880px) {
  .content {
    display: block;
    width: calc(100% - 20px);
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: calc(100% - 20px);
    margin: 0;
  }
}
@media screen and (max-width: 320px) {
  .content {
    width: 320px;
  }
}
