* {
  margin: 0;
  padding: 0;
}

.popup {
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  pointer-events: none;
}
.popup_is-opened {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.popup__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}

.popup__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 330px;
  color: black;
  border-radius: 8px;
  z-index: 20;
  margin: 0;
}

.popup__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 430px;
  min-height: 330px;
  border-radius: 8px 8px;
  background-color: white;
}

.popup__icon {
  display: flex;
}

.popup__title {
  width: 330px;
  height: 23px;
  font-family: "Inter";
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  margin: 34px 64px 54px 36px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 36px 36.51px 36px;
}

.form__input {
  width: 358px;
  height: 27.26px;
  border-bottom: 1px solid #c4c4c4;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 0 0 0 0;
}

.form__input:valid {
  border-bottom: 1px solid green;
}
.form__input_has_error {
  border-bottom: 1px solid red;
  display: block;
  margin: 0 auto;
}

.form__submit {
  margin: 10.26px 0 0 0;
  border: 0;
  background-color: black;
  color: white;
  width: 358px;
  height: 50.15px;
  cursor: pointer;
}
.form__submit:hover {
  opacity: 0.3;
}

.form__submit_disabled {
  background-color: white;
  color: #cccccc;
  border: 1px solid lightgrey;
  cursor: not-allowed;
}

.popup__close-btn {
  width: 40.7px;
  height: 40.7px;
  transform: translate(43px, -5%);
  background-color: transparent;
  border: 0;
  background-image: url(../images/CloseIcon.png);
  background-repeat: no-repeat;
  background-position: center;
  align-self: flex-end;
  cursor: pointer;
}

.popup__close-btn:hover {
  opacity: 0.3;
}

.popup__image {
  max-width: 816px;
  max-height: 540px;
}

.popup__image-title {
  width: 100%;
  height: 12px;
  color: #ffff;
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
}

.form__input-error {
  color: #ff0000;
  font-family: "Inter";
  font-weight: 400;
  line-height: 14.52px;
  font-size: 12px;
}
@media screen and (max-width: 880px) {
  .popup {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .popup__image {
    max-width: 75vw;
    max-height: 75vh;
  }
}

@media screen and (max-width: 768px) {
  .popup {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .popup__image {
    max-width: 75vw;
    max-height: 75vh;
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .popup {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
  }
  .popup__content {
    display: flex;
    flex-direction: column;
    max-width: 75vw;
    max-height: 75vh;
    color: black;
    border-radius: 8px;
    z-index: 20;
    margin: 0;
  }

  .popup__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 282px;
    min-height: 322px;
    border-radius: 8px 8px;
    background-color: white;
    margin: 0 auto;
  }
  .popup__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .popup__title {
    width: 238px;
    height: 22px;
    font-family: "Inter";
    font-weight: 900;
    font-size: 24px;
    line-height: 21.78px;
    margin: 25px 22px 76px 22px;
  }

  .popup__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
  }
  .form {
    display: flex;
    flex-direction: column;
    margin: 0 22px 25px 22px;
  }

  .form__input {
    width: 238px;
    height: 26px;
    border-bottom: 1px solid #c4c4c4;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0 0 30px 0;
  }

  .form__submit {
    margin: 10.26px 0 0 0;
    border: 0;
    background-color: black;
    color: white;
    width: 238px;
    height: 46px;
  }

  .popup__close-btn {
    width: 20px;
    height: 20px;
    transform: translate(-7px, -41%);
    background-color: transparent;
    border: 0;
    background-image: url(../images/CloseIcon.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .form__submit:hover {
    opacity: 0.5;
  }

  .popup__close-btn:hover {
    background-color: black;
    transition: background-color 0.5s;
  }

  .popup__image {
    align-self: center;
    max-width: 100%;
    max-height: 100%;
  }

  .popup__image-title {
    max-width: 240px;
    max-height: 12px;
    color: #ffff;
    font-family: "Inter";
    font-weight: 400;
    font-size: 5px;
    line-height: 14.52px;
    margin: 5px 0 0 0;
    padding: 0;
    display: flex;
    align-self: flex-start;
  }
}
