.profile {
  display: flex;
  width: 882px;
  height: 120px;
  margin: 40px 0 0 0;
}
.profile__overlay {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  width: 13.7%;
  height: 122px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.profile__edit-avatar {
  display: none;
  width: 26px;
  height: 26px;
  margin: 0 0 0 25px;
  transform: translate(82%, 201%);
  background-image: url("../images/Btn-edit-avatar.png");
  background-repeat: no-repeat;
  background-size: 79%;
  background-position: center;
  padding: 0;
}

.profile__image-container:hover .profile__overlay,
.profile__image-container:hover .profile__edit-avatar {
  display: block; /* Muestra el overlay y el botón al pasar el cursor */
}

.profile__heading {
  width: 414px;
  height: 77px;
  margin: 18px 0 25px 30px;
}

.profile__image {
  width: 120px;
  height: 120px;
  background-image: url(../images/image_profile.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
.profile__heading-name {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.profile__heading-title {
  width: 373px;
  height: 50px;
  margin: 0;
  font-family: "inter";
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__heading-subtitle {
  width: 372px;
  height: 18px;
  font-family: "inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: #ffffff;
  margin: 16px 0 0 1px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__heading-edit {
  width: 24px;
  height: 24px;
  padding: 19px 0 0 17px;
  border: 1px solid #ffffff;
  background-color: black;
  background-image: url(../images/edit.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}
.profile__heading-edit:hover {
  opacity: 0.3;
}
.profile__heading-add {
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  background-color: black;
  background-image: url(../images/add.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 17px 0 10px 168px;
  padding: 0;
}
.profile__heading-add:hover {
  opacity: 0.3;
}
@media screen and (max-width: 880px) {
  .profile {
    display: flex;
    flex-direction: row;
    width: calc(100% - 30px);
    height: auto;
    margin: 5px 5px;
  }

  .profile__image-container {
    width: calc(100% - 647px);
  }
  .profile__overlay {
    position: absolute;
    top: 0;
    left: 3px;
    width: 15%;
    height: 122px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }

  .profile__image-container:hover .profile__overlay,
  .profile__image-container:hover .profile__edit-avatar {
    display: block; /* Muestra el overlay y el botón al pasar el cursor */
  }

  .profile__edit-avatar {
    display: none;
    width: 26px;
    height: 26px;
    margin: 0 0 0 25px;
    transform: translate(82%, 201%);
    background-image: url("../images/Btn-edit-avatar.png");
    background-repeat: no-repeat;
    background-size: 79%;
    background-position: center;
    padding: 0;
  }
  .profile__heading {
    width: calc(100% - 30px);
    height: 50%;
    margin: 0 0 0 20px;
  }
  .profile__image {
    width: calc(100% - 3px);
  }
  .profile__heading-title {
    width: calc(74% - 10px);
    height: 50%;
    margin: 0;
    font-weight: 400;
  }
  .profile__heading-subtitle {
    width: calc(50% - 5px);
    height: 50%;
    margin: 0;
    font-size: calc(18px + 0.5vw);
  }

  .profile__heading-add {
    width: calc(27% - 3px);
    margin: 0 auto;
  }

  .profile__heading-edit {
    margin: 15px 0 15px 0;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .profile__image-container {
    width: 25%;
  }
  .profile__image {
    width: calc(100% - 5px);
  }

  .profile__image-container:hover .profile__overlay,
  .profile__image-container:hover .profile__edit-avatar {
    display: block; /* Muestra el overlay y el botón al pasar el cursor */
  }

  .profile__overlay {
    position: absolute;
    top: 0;
    left: 3px;
    width: 16.7%;
    height: 121px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }

  .profile__heading-name {
    width: calc(100% - -65px);
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .profile__heading-add:hover {
    opacity: 0.5;
  }

  .profile__heading-edit:hover {
    opacity: 0.5;
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0 auto;
  }
  .profile__overlay {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    height: 121px;
    width: 120px;
  }

  .profile__image-container {
    width: 120px;
    margin-top: 15px;
  }

  .profile__image-container:hover .profile__overlay,
  .profile__image-container:hover .profile__edit-avatar {
    display: block; /* Muestra el overlay y el botón al pasar el cursor */
    left: auto;
  }
  .profile__heading-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: auto;
    text-align: center;
  }
  .profile__image {
    align-items: center;
    width: 100%;
    display: flex;
    background-image: url(../images/image_profile.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
  }

  .profile__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 18px 0 0 0;
  }
  .profile__heading-title {
    font-size: 24px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .profile__heading-subtitle {
    display: flex;
    justify-content: center;
    width: auto;
    max-width: 90vw;
  }
  .profile__heading-add {
    width: calc(90% - 5px);
    margin: 17px 0 0 0;
  }
  .profile__heading-edit {
    width: 24px;
    margin: 9px 9px 9px 15px;
  }
  .profile__heading-add:focus {
    opacity: 0.3;
  }

  .profile__heading-edit:focus {
    opacity: 0.3;
  }
}
